<div class="row justify-content-md-center">
  <form class="">
    <h2> Signup </h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="formInfo.username" name="username"/>
    <br>
    <label> Email </label>
    <input type="email" [(ngModel)]="formInfo.email" name="email"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="formInfo.password" name="password"/>

    <button (click)="signup()"> signup </button>
  </form>
  <p class="error"> {{ error }} </p>
</div>
