<h1>Campañas</h1>

<section class="">
  <article class="" *ngFor="let campaign of campaigns">
  <ul>
    <h1>{{ campaign.fabric.typeName}}</h1>
    <li>{{ campaign.status }}</li>
    <li>{{ campaign.maker.username }}</li>
    <li>{{ campaign.fabric.description }}</li>
    <li>{{ campaign.totalMeters }}</li>
    <li>{{ campaign.meterPrice }}€/m</li>
    <li>Tiempo que queda para que termine la campaña: logica</li>
  </ul>
    <a [routerLink]="['/campaigns', campaign._id]">Ver campaña</a>
  </article>
</section>
