<h1>Campañas</h1>
<section>
  <article *ngFor="let campaign of campaigns">
    <img [src]="campaign.fabric.files" height="100"/>
    <h1>{{ campaign.fabric.typeName }}</h1>
  <ul>
    <li>{{ campaign.status }}</li>
    <li>{{ campaign.maker.username }}</li>
    <li>{{ campaign.fabric.description }}</li>
    <li>{{ campaign.totalMeters }}</li>
    <li>{{ campaign.meterPrice }}€/m</li>
    <li>Metros que quedan</li>
  </ul>
    <a [routerLink]="['/campaigns', campaign._id]">Ver campaña</a>
  </article>
</section>
