<div class="row mt-4">
  <section class="col">
    <article *ngFor="let usercampaign of campaigns">
      <img [src]="usercampaign.fabric.files" height="400"/>
    </article>
  </section>

  <section class="col">
    <article *ngFor="let usercampaign of campaigns">
      <h1>{{ usercampaign.fabric.typeName }}</h1>
      <p>{{ usercampaign.fabric.description }}</p>
    </article>
    <article *ngFor="let campaign of campaigns">
      <h1>Peticiones de compra</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of campaign.order">
            <td>{{ order.buyer.username }}</td>
            <td>{{ order.buyer.email }}</td>
            <td>{{ order.meters }}/m</td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>

</div>
