<div class="row mt-5 mb-5 justify-content-end">
  <button class="btn add-btn">Crear campaña</button>
</div>
<div class="row mt-4 mb-4" *ngFor="let campaign of userCampaigns">
  <section class="col">
    <article >
      <img [src]="campaign.fabric.files" />
    </article>
  </section>

  <section class="col">
    <article>
      <h1>{{ campaign.fabric.typeName }}</h1>
      <p>{{ campaign.fabric.description }}</p>
    </article>
    <article class="mt-5">
      <h1>Peticiones de compra</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cantidad</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of campaign.order">
            <td>{{ order.buyerUsername }}</td>
            <td>{{ order.buyerEmail }}</td>
            <td>{{ order.meters }}m</td>
            <td>{{ getItemPrice(order.meters, campaign.meterPrice) }}€</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>{{ getTotalMeters(campaign.order) }}m</td>
            <td>{{ getTotalPrice(campaign.order, campaign.meterPrice) }}€</td>
          </tr>
        </tbody>

      </table>
    </article>
  </section>
</div>
